<h2 class="team"><%= @game.team %></h2>
<%= button_to 'Add Player', new_game_player_path(@game), method: 'get' %>
<%= button_to 'Make Substitution', new_game_substitution_path(@game), method: 'get' %>

<%= render @game.lineup %>
