<nav class="top-bar" data-topbar>
  <ul class="title-area">
	  <li class="name">
	    <h1><a href="#">Scorecard</a></h1>
	    </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
	      <li class="has-dropdown">
	        <a href="#">Dropdown Button</a>
		<ul class="dropdown">
			<li><a href="#">First link in Dropdown</a></li>
		</ul>
		</li>
	</ul>
	</section>
	</nav>

